* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

#content {
    width: 100vw;
    height: 100vh;
}

.active {
    display: block;
}

.notActive {
    display: none;
}

.chooseGame {
    width: 100%;
    height: 100%;
    background-image: url('./assets/ship.jpg');
    background-size: cover;
}

.chooseGame img {
    width: 300px;
    height: 300px;
}

.chooseGame button {
    width: 100px;
    height: 40px;
}


/* GAME */

#gameMode {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: grey;
    width: 100vw;
    height: 100vh;
}

#player1-board,
#player2-board {
    border: 1px solid black;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
    cursor: pointer;
}

.cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

}

.taken {
    background-color: blue;
}

.disabled {
    opacity: 0.3;
    cursor: default !important;
}